{% extends 'mail.html.twig' %}

{% block body %}

    <td align="center" class="93887b72238f8c3b0e90816ed2d9c403one_half" valign="top" width="570" style="color:rgb( 117 , 120 , 121 );font:400 14px / 23px 'montserrat' , 'franklin gothic medium' , 'franklin gothic' , 'itc franklin gothic' , 'arial' , sans-serif">


        Здравствуйте,<br>
        <br>
        Приветствуем, <a href="mailto:rupak8@yandex.ru" class="ns-action" data-click-action="common.go" data-params="new_window&amp;url=%23compose%2Fmailto%3Drupak8%2540yandex.ru">rupak8@yandex.ru</a>! Для завершения регистрации на сайте officeton.by пройдите по ссылке <a href="http://www.officeton.by/?action=confirm_registration&amp;confirm_code=PucZt8OO" data-vdir-href="https://mail.yandex.by/re.jsx?uid=689025586&amp;c=LIZA&amp;cv=17.9.22&amp;mid=170010885933240266&amp;h=a,8vx3VBLOqaKkjhkrWbzcLQ&amp;l=aHR0cDovL3d3dy5vZmZpY2V0b24uYnkvP2FjdGlvbj1jb25maXJtX3JlZ2lzdHJhdGlvbiZjb25maXJtX2NvZGU9UHVjWnQ4T08" data-orig-href="http://www.officeton.by/?action=confirm_registration&amp;confirm_code=PucZt8OO" class="daria-goto-anchor" target="_blank" rel="noopener noreferrer">http://www.officeton.by/?action=confirm_registration&amp;confirm_code=PucZt8OO</a><br>
        Это ваша персональная ссылка, ее можно использовать лишь один раз. Если вы не создавали учетную запись на сайте officeton.by, но получили это письмо – не переходите по ссылке и напишите в техподдержку officeton.by/feedback. С наилучшими пожеланиями, Команда Офистон.
        <br>
        <br>

    </td>

    <p>Перейдите по ссылке:</p>

    {% set url = url('auth.signup.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}