{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}

{% block body %}
<h1>Home</h1>
    <div class="row">
        {% for user in users %}
        <div class="col-md-1">
        {{ user.id }}
        </div>
        <div class="col-md-3">
            {{ user.email }}
        </div>
        {% endfor %}
    </div>

{% endblock %}