{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Главная</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">Активные заказы</div>
            <div class="card-body">
                <div class="card mt-3">
                    <div class="card-body pt-3">
                        <div class="center">У вас пока нету заказов в обработке</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">График истории заказов</div>
            <div class="card-body">
            </div>
        </div>

    </div>

{% endblock %}