{% if role == 'ROLE_USER' %}
    <span class="badge badge-secondary">Пользователь - юрлицо</span>
{% elseif role == 'ROLE_ADMIN' %}
    <span class="badge badge-success">Администратор</span>
{% endif %}