{% if status == 'wait' %}
    <span class="badge badge-secondary">Ожидает подтверждения email</span>
{% elseif status == 'active' %}
    <span class="badge badge-primary">Активен: заказы разрешены</span>
{% endif %}